// User Pages

.app-logo {
	height: 40px;
	width: 160px;
	background: url("~assets/utils/images/logoOKR.png");
}

.app-logo-inverse {
	height: 40px;
	width: 160px;
	background: url("~assets/utils/images/logoOKR.png");
}

.app-login-box {
	.app-logo {
		margin-bottom: $layout-spacer-lg;
	}

	h4 {
		margin-bottom: $layout-spacer-x;
		font-weight: normal;

		div {
			opacity: 0.6;
		}

		span {
			font-size: $font-size-lg;
		}
	}
}
