.font {
  font-family: Georgia, serif;
  font-size: 35px;
}

.bt {
  font-family: Georgia, serif;
  font-size: 20px;
}

.ModalHeader {
  background-color: white;
}

.cd{
  border-radius: 5px;
  border-left: 5px white;
  border-right: 5px white;
  border-bottom: 5px white;
  border-top: 5px white;
}